<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link media="all" type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />


    <link rel="stylesheet" href="/assets/css/style-for-all.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/index.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/deleteDog.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/dogList.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/confirmation.css" type="text/css" />
    <title>BARKMATCH</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/icons/favicon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <section class="hero is-primary is-large is-mobile">
        <div class="hero-head">
 <nav
      class="navbar is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <input type="checkbox" id="toggler" class="toggler" />
      <!-- for toggling functionality. Should be at the same level as navbar-menu -->
      <div class="navbar-brand">
        <!-- left side of bulma navbar -->
        <a class="navbar-item" href="/">
          <img src="/assets/images/logo.svg" alt="Logo" style="width: 152px" />
        </a>
        <label
          for="toggler"
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </label>
      </div>
      <!-- end of left side of bulma navbar -->
      <div id="navbarBasicExample" class="navbar-menu">
        <!-- dont shown on mobile -->
        <div class="navbar-start">
          <!-- left on big screen -->
          <!-- a dropdown menu -->
          <a class="navbar-item is-hoverable" href="/volunteers/dogalog">
            <!-- begin dropdown box -->
            <span class="icon">
              <i class="fas fa-paw"></i>
            </span>
            <span id="nav-text"> <strong>Dogalog</strong></span>
          </a>

          <a class="navbar-item" href="/login">
            <span class="icon">
              <i class="fas fa-dog"></i>
            </span>
            <strong id="nav-text">Shelter Dashboard</strong>
          </a>

          <div class="navbar-item">
            <strong id="nav-text"
              ><span style="display: none">
                <span class="icon">
                  <i class="fas fa-user-check"></i>
                </span>
                Logged in as <span id="username"></span></span
            ></strong>
          </div>

          <a
            class="navbar-item"
            href="/logout"
            id="logout"
            style="display: none"
          >
            <span class="icon">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <strong id="nav-text">Log Out</strong>
          </a>
        </div>
      </div>
    </nav>
        </div>
  
        {{{ body }}}

    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                © 2020 BarkMatch, Inc. All rights reserved
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>

</html>