<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link media="all" type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/addDog.css" type="text/css" />
    <title>DOGMATCH</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/addDog.js"></script>
    <script src="/assets/js/confirmation.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/deleteDog.js"></script>
    <script src="/assets/js/dogList.js"></script>
    <script src="/assets/js/editDog.js"></script>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/signUp.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>