{{!-- BULMA ADD DOG --}}
<section class="section" style="margin-top: 50px;">
  <form class="create-form">
    <div class="container has-text-centered">
      <div id="add-dog-headline"><img src="/assets/images/headlines/addDogHeadline.svg" alt="add dog headline">
      </div>
      <div class="box" id="background-box">
        <div class="column is-half is-offset-one-quarter">
          <!-- ADD DOG FORM -->
          <label class="label">Upload Photo</label>
          <label>Square, 1:1 format recommended.</label>
          <div class="file has-name is-centered" style="padding-top: 10px;">
            <label class="file-label">
              <img id="profile-pic" src="/assets/images/img/dogph.png" alt="dog picture"
                style="width:40px;height:40px; margin-right:10px;">
              <input class="file-input" type="file" name="img_path" id="img_path"
                accept=".jpeg,.JPEG,.png,.PNG,.jpg,.JPG" />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label" for="img_path"> Choose a file… </span>
              </span>
              <span class="file-name">
                No file chosen
              </span>
            </label>
          </div>
          <br />
          <div class="field" id="name">
            <label class="label" for="dog">Name</label>
            <div class="control">
              <input class="input" type="text" id="dog-name" name="name" placeholder="Barkley" minlength="1" required />
            </div>
          </div>
          <div class="dropdown" style="margin-bottom: 20px;">

            <div class="field" id="age" style="margin-left: 20px; margin-right: 20px;">
              <label class="label" for="dog">Age</label>
              <div class="control">
                <input class="input" type="number" id="dog-age" name="age" placeholder="3" minlength="1" required />
              </div>
            </div>

            <div class="field" id="breed" style="margin-left: 20px; margin-right: 20px;">
              <label class="label" for="dog">Breed</label>
              <div class="control">
                <input class="input" type="text" id="dog-breed" name="breed" placeholder="Cocker Spaniel" minlength="1"
                  required />
              </div>
            </div>

          </div>

          <div class="field">
            <label class="label" for="dog">Brief Bio</label>
            <div class="control">
              <textarea class="textarea" type="text" id="dog-bio" name="bio"
                placeholder="Hi, my name is Barkley! I love to go on walks!" minlength="1" required></textarea>
            </div>
          </div>

          <div class="dropdown" style="margin-bottom: 10px; padding: 10px;">

            <div class="field" id="gender" style="padding: 10px;">
              <label class="label" for="gender">Gender</label>
              <div class="control">
                <div class="select">
                  <select name="gender">
                    <option  value="Male" data-name="Male">Male</option>
                    <option  value="Female" data-name="Female" selected>Female</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="field" id="size" style="padding: 10px;">
              <label class="label" for="size">Size</label>
              <div class="control">
                <div class="select">
                  <select name="size">
                    <option value="Small" data-name="Small">Small (<25 lbs)</option>
                    <option value="Medium" data-name="Medium">Medium (25-50 lbs)</option>
                    <option value="Large" data-name="Large">Large (50+ lbs)</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field" id="energy" style="padding: 10px;">
              <label class="label">Energy Level</label>
              <div class="control">
                <div class="select">
                  <select name="energy_level">
                    <option value="Low" data-name="Low">Low</option>
                    <option value="Moderate" data-name="Moderate">Moderate</option>
                    <option value="High" data-name="High">High</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered" style="margin-bottom: 20px;">
            <p class="control">
              <button type="submit" class="button is-info is-medium">
                Submit
              </button>
            </p>
            <p class="control">
              <button type="button" class="button is-light is-medium" id="cancelBtn">
                Cancel
              </button>
            </p>

          </div>

        </div>
      </div>


    </div>


  </form>
</section>



<script src="/assets/js/addDog.js"></script>