<form class="create-form">

  <div class="form-group">
    <label for="dog">Dog Name:</label>
    <input type="text" id="dog-name" name="name">
  </div>
  <div class="form-group">
    <label for="dog">Age:</label>
    <input type="text" id="dog-age" name="name">
  </div>
  <div class="form-group">
    <label for="dog">Breed:</label>
    <input type="text" id="dog-breed" name="name">
  </div>
  <div class="form-group">
    <label for="dog">Bio:</label>
    <input type="text" id="dog-bio" name="name">
  </div>
  
  <div class="form-group">
    <label for="gender">Gender</label><br>
    <input type="radio" name="gender" checked>Male<br>
    <input type="radio" name="gender" > Female
  </div>
  <div class="form-group">
    <label for="size">Size</label><br>
    <input type="radio" name="size"  checked>Small<br>
    <input type="radio" name="size"  checked>Medium<br>
    <input type="radio" name="size" > Large
  </div>
  <div class="form-group">
    <label for="energy">Energy Level</label><br>
    <input type="radio" name="energy"  checked>Low<br>
    <input type="radio" name="energy"  checked>Moderate<br>
    <input type="radio" name="energy" > High
  </div>

  <button type="submit">Add Dog</button>
</form>