<style>
    html{
        background: #00d1b2;
    }

    .error-msg{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        font-size: 30px;
        color: white;
        font-weight: bold;
    }
</style>

<div class="error-msg">
    Oops there was an error!
</div>