
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <img src="/assets/images/logo.svg" alt="Logo">
            <h1 class="title">
                Unleash the fun!
            </h1>
            <button class="button is-white is-large" id="searchDogs">Search Dogalog</button>
        </div>
    </div>


