<!-- Hero content: will be in the middle -->
<section class="section" id="index-page">
    <div class="container has-text-centered">
        <div class="column" id="index-content">
            <img id="main-logo" src="/assets/images/logo.svg" alt="Logo">

            <h3 class="title is-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nulla tempora, error
                at,
                numquam iusto nisi accusantium sit quasi nostrum id? Nesciunt, ea? Vitae, facilis explicabo ratione
                repellendus deleniti atque, assumenda quae fuga sunt harum necessitatibus, blanditiis aperiam
                dignissimos
                impedit? Similique non ducimus aliquid aspernatur nesciunt deserunt perspiciatis fuga quasi.</h3>
            <button class="button is-white is-medium" id="searchDogs">Search Dogalog</button>
        </div>

    </div>

</section>

<figure class="image" id="desktop-image">
    <img id="dogs-at-bottom" src="/assets/images/icons/dogLineUp.svg" alt="Logo" ></img>
    </figure>
     
       <figure class="image" id="mobile-image">
    <img id="dogs-at-bottom" src="/assets/images/icons/dogLineUp_mobile.svg" alt="Logo" ></img>
    </figure>




<script type="text/javascript" src="/assets/js/index.js"></script>