<!-- Hero content: will be in the middle -->
<section class="section" id="index-page">
    <div class="container has-text-centered">
        <div class="column" id="index-content">
            <br />
             <br />
            <img id="index-logo" src="/assets/images/logo.svg" alt="Logo">


            {{!-- <h2 class="title is-2">Unleash the fun!</h2> --}}
            <h3 class="title is-5" id="index-para"> Need to relieve some stress and get outside? Is loving on dogs a specialty of yours?
                We connect shelter dogs in need of affection & exercise with you. Checkout what dog you could be
                spending time with right now! </h3>
            <button class="button is-white is-medium" id="searchDogs">Browse Dogalog</button>
        </div>

    </div>

</section>

<figure class="image" id="desktop-image">
    <img id="dogs-at-bottom" src="/assets/images/icons/dogLineUp.svg" alt="Logo"></img>
</figure>

<figure class="image" id="mobile-image">
    <img id="dogs-at-bottom" src="/assets/images/icons/dogLineUp_mobile.svg" alt="Logo"></img>
</figure>




<script type="text/javascript" src="/assets/js/index.js"></script>