<form class="create-form">
    <input type="hidden" id="id" name="id" value="{{id}}">
    <h1> {{name}} is excited to hang out with you! </h1>
    <div class="field">
        <label class="label" for="volunteer">Full Name</label>
        <div class="control">
            <input class="input" required type="text" id="volunteer-name" name="name" placeholder="e.g Bob Smith">
        </div>
    </div>
    <div class="field">
        <label class="label" for="volunteer">E-mail</label>
        <div class="control">
            <input class="input" required type="email" id="volunteer-email" name="email"
                placeholder="e.g bobsmith@gmail.com">
        </div>
    </div>
    <div class="field">
        <label class="label" for="volunteer">Phone Number</label>
        <div class="control">
            <input class="input" required type="tel" id="volunteer-number" name="number" placeholder="e.g 123-456-7890">
        </div>
    </div>
    <button type="submit" class="button is-primary is-rounded" id="submitBtn">Sign Up</button>
    <a class="button is-danger is-rounded" href="/volunteers/dogalog">Back</a>
</form>

<script src="/assets/js/signUp.js" type="text/javascript"></script>