<section class="section">
    <div class="container has-text-centered">
        <div id="add-dog-headline"><img src="/assets/images/headlines/signUpHeadline.svg" alt="sign up headline">
        </div>
        <div class="box" id="background-box">
            <div class="column is-half is-offset-one-quarter">
                <form class="create-form">
                    <input type="hidden" id="id" name="id" value="{{id}}">
                    <h1 class="title"> {{name}} is excited to hang out with you! </h1>

                    {{!-- Volunteer name --}}
                    <div class="field">
                        <label class="label" for="volunteer">Full Name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" required type="text" id="volunteer-name" name="name" placeholder="your name">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>



                    {{!-- Volunteer email --}}
                    <div class="field">
                        <label class="label" for="volunteer">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" required type="email" id="volunteer-email" name="email"
                                placeholder="barks@gmail.com">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>


                    {{!-- Volunteer phone number --}}

                    <div class="field">
                        <label class="label" for="volunteer">Phone Number</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" required type="tel" id="volunteer-number" name="number"
                                placeholder="123-456-7890" pattern="^\d{3}-\d{3}-\d{4}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                    </div>


                    <button type="submit" class="button is-link">Sign Up</button>
                    <a class="button is-link is-light" href="/volunteers/dogalog">Back</a>
                </form>

            </div>
        </div>
    </div>
    </div>
</section>


<script src="/assets/js/signUp.js" type="text/javascript"></script>