/* fonts */
@font-face {
    font-family: DottiesVanilla-ExtraBold;
    src: url(/assets/images/fonts/DottiesVanilla-ExtraBold.otf);
  }

.columns {
    margin-top: -60px;
}
/* barkmatch logo */
#confirmation-logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 40%;
}

/* respective dog image */
#dog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border: 10px solid #ffffff;
    border-radius: 5px;
}

/* confirmation line, address, phone etc */
#information {
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-family: DottiesVanilla-ExtraBold;

}




.columns {
    margin-top: 5%;
}



#grouped-buttons {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shelter-info {
    margin: 20px;
}

#desktop-image {
    margin-top: 30px;
    width: 60%;
}
    


/* mobile responsive */
@media only screen and (max-width: 768px) {

    #confirmation-logo {
      width: 90%;
    }

    #dog-image {
       top: 10% 
    }

    #mobile-image {
        margin-top: -60px;
    }

    h1, p {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

}
