/* Styling for home page  */
#index-page {
  height: 100%;
}
#index-content {
  margin-right: 15%;
  margin-left: 15%;
}

#index-para,
#searchDogs {
  margin-top: 20px;
}

#mobile-image {
  display: none;
}

#desktop-image {
  visibility: visible;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* mobile responsive */
@media only screen and (max-width: 768px) {
  #index-content {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: -40px;
  }

  footer {
    font-size: 10px;
  }

  #index-para {
    font-size: 15px;
  }

  #desktop-image {
    display: none;
  }

  #mobile-image {
    visibility: visible;
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
