/* NAV BAR */
.navbar-item {
    display: flex;
  }

  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
#nav-text, .icon {
    color: #292F36;
}

/* BODY */

html {
    background-color: hsl(171, 100%, 41%);
}


/* Doglist  */

#shelter-logo {
    width: 80%;
}

/* CARD STYLING */

#card {
    border-radius: 8px;
    background-color: #e9f8f6;
    text-align: center;
}

#dog-name {
    padding-bottom: 10px;
}

#dog-button {
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

p {
    hyphens: none;
}

#bottom-card {
    background-image: url(/assets/images/img/paw.svg);
    background-repeat: no-repeat;
    position: relative;
}

/* ADD PAGE */
#background-box {
    background-color: #99ede0;
    width: 900px;
    display: block;
    margin: auto;
}

#add-dog-headline {
    display: block;
    margin: auto;
    width: 600px;
    margin-bottom: -44px;
    margin-top: -45px;
    
}

#content {
    display: flex;
    min-height: 91vh;
    flex-direction: column;
  }
    
  #content {
    flex: 1;
  }

p {
    color: #292F36;
    font-weight: bold;
}


/* FOOTER */

.footer {
    padding: 20px 0;
    background-color: hsl(171, 100%, 41%);
    position: fixed;
    margin-top: auto;
    left: 0;
    bottom: 0;
    clear: both;
    width: 100%;
    text-align: center;
    line-height: 1em;
  } 


@media only screen and (max-width: 768px) {

    #background-box {
        width: auto;
        display: block;
        margin: auto;
    } 

    #add-dog-headline {
        width: 400px;
        margin-bottom: -32px;
        
    }
}

