#background-box {
    background-color: #99ede0;

}

#add-dog-headline {
    display: block;
    margin: auto;
    width: 600px;
    margin-bottom: -44px;
    margin-top: -45px;
    
}

@media only screen and (max-width: 768px) {

    #add-dog-headline {
        width: 400px;
        margin-bottom: -32px;
        
    }
}
