/* Nav bar */
#nav-text,
.icon {
  color: #292f36;
}

/* BODY */

html {
  background-color: hsl(171, 100%, 41%);
}

/* Doglist  */

#shelter-logo {
  width: 80%;
}

/* CARD STYLING */

#card {
  border-radius: 8px;
  background-color: #e9f8f6;
  text-align: center;
}

#dog-name {
  padding-bottom: 10px;
}

#dog-button {
  height: 60px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

p {
  hyphens: none;
}

#bottom-card {
  background-image: url(/assets/images/img/paw.svg);
  background-repeat: no-repeat;
  position: relative;
}

/* ADD PAGE */
#background-box {
  background-color: #99ede0;
  width: 900px;
  display: block;
  margin: auto;
}

#add-dog-headline {
  display: block;
  margin: auto;
  width: 600px;
  margin-bottom: -44px;
  margin-top: -45px;
}

#content {
  display: flex;
  min-height: 91vh;
  flex-direction: column;
}

#content {
  flex: 1;
}

p {
  color: #292f36;
  font-weight: bold;
}

body {
  margin-bottom: 40px;
}


/* index button to front */

#searchDogs {
  z-index: 999 !important;
}

/* FOOTER */

.footer {
  padding: 20px 0;
  background-color: hsl(171, 100%, 41%);
  position: fixed;
  margin-top: auto;
  left: 0;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: center;
  line-height: 1em;
}

@media only screen and (max-width: 768px) {
  #background-box {
    width: auto;
    display: block;
    margin: auto;
  }

  #add-dog-headline {
    width: 90%;
    margin-bottom: -24px;
  }

  #column {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card-footer {
    font-size: 15px;
  }

  /* MODALS */
  #modal-headline {
    /* font-size: 20px; */
    width: 100%;
  }

  #closeBtn {
    visibility: hidden;
  }

  #submitBtn,
  #cancelBtn {
    margin-left: -25px;
    margin-right: -25px;
  }
}

/* CRAZY NAV BAR CODE */
/* We don't need checkbox to be displayed in order for it to work */
.toggler {
  display: none;
}

/* Below are all the functionalities */

/* Hamburger changes to X when toggler is checked */
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(2) {
  opacity: 0;
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}

/*  Displays menu when toggler is checked only on mobile/tablet */
@media screen and (max-width: 1024px) {
  .navbar .toggler:checked ~ .navbar-menu {
    display: block;
  }
  /* We don't want menu to be displayed on mobile by default */
  .navbar-menu {
    display: none;
  }
}

/* For dropdown functionality */

/* Same reason as for checkbox */
.has-dropdown input[type="checkbox"] {
  display: none;
}
/* Hide by default */
.navbar-dropdown {
  display: none;
}
/* The functionality */
#dropdown1:checked ~ #dropdown-content1,
#dropdown2:checked ~ #dropdown-content2,
#dropdown3:checked ~ #dropdown-content3 {
  display: block;
}
